@use "./variables" as *;

#lhs-rhs-toggle-button {
    background-color: transparent;
    color: blue;
    padding: 0px 6px;
    font-size: 24px;
    border: none;
    text-decoration: underline;
}

#lhs-rhs-toggle {
    font-size: 24px;
}

#middle-equals-sign {
    width: 100px
}




