@use "./variables" as *;

header {
  .navbar {
    padding: 12px 0;
    background-image: linear-gradient(135deg, $color-drexel-blue 0, $color-muted-blue 100%);

    a {
      &.navbar-brand {
        font-weight: $font-bold;
        font-size: 28px;
        line-height: 32px;
        color: $color-white;
      }
    }

    button {
      &.navbar-toggler {
        border-color: $color-white;

        span {
          &.navbar-toggler-icon {
            background-image: $navbar-toggler-icon-bg;
          }
        }
      }
    }

    .navbar-collapse {
      .navbar-nav {
        &:first-child {
          margin-top: 20px;

          @media (min-width: $breakpoint-md) {
            margin-top: 0;
          }
        }

        .nav-item {
          margin-left: 0;

          @media (min-width: $breakpoint-md) {
            margin-left: 15px;
          }

          &.dropdown {
            border-bottom: 1px solid $color-white;

            @media (min-width: $breakpoint-md) {
              border-bottom: 0;
            }

            a {
              &.dropdown-toggle {
                padding: 12px 0;
                position: relative;

                @media (min-width: $breakpoint-md) {
                  padding: 8px 20px;
                }

                &::after {
                  font-size: 32px;
                  content: "+";
                  position: absolute;
                  top: 25px;
                  right: 0;
                  transform: translate(-50%, -50%);
                  font-weight: 400;
                  border: 0;
                  margin-left: 0;

                  @media (min-width: $breakpoint-md) {
                    content: "";
                    border: 3px solid $color-white;
                    border-width: 0 0 3px 3px;
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    transform: rotate(-45deg);
                    top: 12px;
                    right: 2px;
                  }
                }

                &.show {
                  &::after {
                    content: "\2013";

                    @media (min-width: $breakpoint-md) {
                      content: "";
                      transform: rotate(135deg);
                      top: 17px;
                    }
                  }
                }
              }
            }
          }

          a {
            &.nav-link {
              font-weight: $font-semi-bold;
              font-size: 20px;
              line-height: 22px;
              color: $color-white;
            }
          }
        }

        &:last-child {
          margin-bottom: 25px;

          @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
          }

          li {
            &.nav-item {
              a {
                padding: 12px 0;
                border-bottom: 1px solid $color-white;

                @media (min-width: $breakpoint-md) {
                  padding: 8px 20px;

                  &.login {
                    border: 2px solid $color-white;
                  }
                }

                &.signup {
                  color: $color-drexel-orange;
                  border-bottom: 1px solid $color-drexel-orange;

                  @media (min-width: $breakpoint-md) {
                    border: 2px solid $color-drexel-orange;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  margin-top: 100px;
}
